.round-button {
    width:25%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;
    margin-left:12em;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
/*.round-button-circle:hover  {*/
    /*background:#30588e;*/
/*}*/
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;


    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
.floating-button{
    float: left;
    margin-left:12em;
    margin-bottom:2em;
}
